<h1>Hi, <%= @user.username %>!</h1>




<!-- <div>
SHOULD HAVE LOCATION STILL
</div> -->



<div class="container">
  <% if current_user && current_user.id == @user.id %>
  <div class="profile-welcome">Welcome back, <%= @user.username %>!</div>
    <% @reviews.each do |review| %>
      <% @shop_id = review.shop_id %>
      <% @shop_name = Shop.find(@shop_id).name %>
      <% @drink_id = review.drink_id %>
      <% @drink_name = Drink.find(@drink_id).name %>
        <div class="index-review">
          <div class="shop-name"><a href="/shops/<%=@shop_id%>"><%= @shop_name %></a></div>
          <div class="drink-name"><%=@drink_name.capitalize %></div>
          <div class="drink-rating"> <%= review.rating %> stars</div>
          <div class="review-body"><%= review.body %></div>
          <div class="edit-link"><a href="/shops/<%= @shop_id %>/reviews/<%=review.id%>/edit">Edit</a></div>
  <form id="delete-rev" method="POST" action="/shop/<%= @shop_id %>/reviews/<%=review.id%>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Review">
  </form>
        </div>
      <% end %>
  <% elsif current_user.id != @user.id %>
  <%=@user.username.capitalize%>'s profile
    <% @reviews.each do |review| %>
      <% @shop_id = review.shop_id %>
      <% @shop_name = Shop.find(@shop_id).name %>
      <% @drink_id = review.drink_id %>
      <% @drink_name = Drink.find(@drink_id).name %>
        <div class="index-review">
          <div class="shop-name"><a href="/shops/<%=@shop_id%>"><%= @shop_name %></a></div>
          <div class="drink-name"><%=@drink_name.capitalize %></div>
          <div class="drink-rating"> <%= review.rating %> stars</div>
          <div class="review-body"><%= review.body %></div>
        </div>
      <% end %>
  <% else %>
  <p>You've encountered an error. Please login and try again.</p>
  <% end %>
</div>

<div>
<form action="/sessions" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Logout!">
</form>
</div>