<h1>Hi, <%= @user.username %>!</h1>




<!-- <div>
SHOULD HAVE LOCATION STILL
</div> -->



<div class="container">
  <% if current_user && current_user.id == @user.id %>
  <div class="profile-welcome">Welcome back, <%= @user.username %>!</div>
    <% @reviews.each do |review| %>
      <% @restaurant_id = review.restaurant_id %>
      <% @restaurant_name = Restaurant.find(@restaurant_id).name %>
      <% @burrito_id = review.burrito_id %>
      <% @burrito_name = Burrito.find(@burrito_id).name %>
        <div class="index-review">
          <div class="restaurant-name"><a href="/restaurants/<%=@restaurant_id%>"><%= @restaurant_name %></a></div>
          <div class="burrito-name"><%=@burrito_name.capitalize %></div>
          <div class="burrito-rating"> <%= review.rating %> stars</div>
          <div class="review-body"><%= review.body %></div>
          <div class="edit-link"><a href="/restaurants/<%= @restaurant_id %>/reviews/<%=review.id%>/edit">Edit</a></div>
  <form id="delete-rev" method="POST" action="/restaurant/<%= @restaurant_id %>/reviews/<%=review.id%>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Review">
  </form>
        </div>
      <% end %>
  <% elsif current_user.id != @user.id %>
  <%=@user.username.capitalize%>'s profile
    <% @reviews.each do |review| %>
      <% @restaurant_id = review.restaurant_id %>
      <% @restaurant_name = restaurant.find(@restaurant_id).name %>
      <% @burrito_id = review.burrito_id %>
      <% @burrito_name = burrito.find(@burrito_id).name %>
        <div class="index-review">
          <div class="restaurant-name"><a href="/restaurants/<%=@restaurant_id%>"><%= @restaurant_name %></a></div>
          <div class="burrito-name"><%=@burrito_name.capitalize %></div>
          <div class="burrito-rating"> <%= review.rating %> stars</div>
          <div class="review-body"><%= review.body %></div>
        </div>
      <% end %>
  <% else %>
  <p>You've encountered an error. Please login and try again.</p>
  <% end %>
</div>

<div>
<form action="/sessions" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Logout!">
</form>
</div>